.notification.arrow-top:after {
    content: " ";
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: -10px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #F14668;
    z-index: 300;
  }


.notification {
  width: fit-content;
  top: 130%;
  z-index: 300;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
}